{% load static %}


<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{%endblock %}</title>
    </head>
    <body class="bg-white">
    <div class="min-h-screen">
        <!-- Navigation -->
        <nav class="bg-gray-800 text-white fixed w-full z-50">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <a href="{% url 'gym_main:main_page' %}"><h1 class="text-xl font-bold">GymPro</h1></a>
                        </div>
                    </div>
                    <div class="flex items-center space-x-6">
                        <a href="https://ejemplo.com/servicios" class="text-gray-300 hover:text-white">Servicios</a>
                        <a href="https://ejemplo.com/planes" class="text-gray-300 hover:text-white">Planes</a>
                        <a href="https://ejemplo.com/contacto" class="text-gray-300 hover:text-white">Contacto</a>
                        <a href="{% url 'gym_main:login' %}" class="bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md">Iniciar Sesión</a>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %} {%endblock%}
    </div>
    
</body>
</html>